@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "./awesome-font/css/font-awesome.min.css";

html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.main-content {
  padding-bottom: 200px!important;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}






.navbar {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.card-container .card {
    flex: 1 1 30%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.panel-tabs {
    justify-content: start;
}

.card-header {
    transition: .5s;
}

.card-header-title {
    transition: .5s;
}

.card:hover .card-header {
    background-color: #eff5fb;
    transition: .5s;
}

.card:hover .card-header-title {
    color: #296fa8;
    transition: .5s;
}

.table {
    width: 100%;
}

.hidden {
    display: none;
}

.is-active {
    transition: .1s;
}

.hero-body{
    position: relative;
}

.progress {
    border-radius: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.progress-value{
    z-index: 10;
    position: absolute;
    bottom: 3px;
    left: 10px;
}

.project-settings-btns{
    display: flex;
    gap: 10px;
    width: 100%;
}

.project-settings-btns .button{
    flex: 1 1 47%;
}

.task-navbar{
    width: 100%;
}

.task-btn{
    border: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: .5s;
}

.good:hover{
    background: hsl(141, 71%, 48%, 0.907);
    color: white;
    transition: .5s;
}

.bad:hover{
    background: hsla(348, 100%, 61%, 0.907);
    color: white;
    transition: .5s;
}

.card{
    display: flex;
    flex-direction: column;
}

.card-content{
    flex: 1;
}

.card-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.card .content{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.metadata{
    display: flex;
    justify-content: space-between;
}

.favorite-icon:hover{
    color: yellow;
}